
<div class="container mt-5 hoja">
    <div class="row mb-2 auxMt">
        <div class="col-3"></div>
        <div class="col-2" class="cuadrado verde" id="A1" (click)="jugada('A1')">
        </div>
        <div class="col-2" class="cuadrado rojo" id="A2" (click)="jugada('A2')">
        
        </div>
        <div class="col-2" class="cuadrado azul" id="A3" (click)="jugada('A3')">

        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mb-2 auxMt">
        <div class="col-3"></div>
        <div class="col-2" class="cuadrado rojo" id="B1" (click)="jugada('B1')">

        </div>
        <div class="col-2" class="cuadrado azul" id="B2" (click)="jugada('B2')">
        
        </div>
        <div class="col-2" class="cuadrado verde" id="B3" (click)="jugada('B3')">

        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>
        <div class="col-2" class="cuadrado azul" id="C1" (click)="jugada('C1')">

        </div>
        <div class="col-2" class="cuadrado verde" id="C2" (click)="jugada('C2')">
        
        </div>
        <div class="col-2"class="cuadrado rojo" id="C3" (click)="jugada('C3')">

        </div>
        <div class="col-3"></div>
    </div>
</div>
