<div class="mx-auto mt-5 text-center" style="border: 1px solid black;">
    <h2>Matias Ezequiel Palmieri</h2>
    <img src="../../assets/fotoMia.jpg" class="mt-3 mb-3" style="width:150px;height:auto;" />
    <h5 class="pr-5 pl-5">
        Mi juego elejido fue el ahorcado. El ahorcado es un juego de adivinanzas para dos o más jugadores.
        En este caso la computadora elejira una palabra y el jugador tendra que adivinarla.
        Cada error dibujara una parte del ahorcado, El jugador contara con solo 5 intentos.
    </h5>
    <h5> Buena Suerte.</h5>
</div>