<div class="container mt-5 hoja">
    <div class="row mb-2 auxMt">
        <div class="col-2"></div>
        <div class="col-3">
            <h4 class="centrado">Elije tu arma.</h4>
        </div>
        <div class="col-2"></div>
        <div class="col-3 ">
            <h4 class="centrado">Arma de tu rival.</h4>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-2 auxMt">
        <div class="col-2"></div>
        <div class="col-3 cuadrado box card" id="piedraH">
            <img src="../../../assets/piedPapelTijera/piedra.jpg" alt="piedra" (click)="jugada('piedra')">
        </div>
        <div class="col-2"></div>
        <div class="col-3 cuadrado box ">
            <img src="../../../assets/piedPapelTijera/piedra.jpg" alt="piedra">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-2 auxMt">
        <div class="col-2"></div>
        <div class="col-3 cuadrado box card" id="papelH">
            <img src="../../../assets/piedPapelTijera/papel.jpg" alt="papel" (click)="jugada('papel')">
        </div>
        <div class="col-2"></div>
        <div class="col-3 cuadrado box ">
            <img src="../../../assets/piedPapelTijera/papel.jpg" alt="papel">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-2 auxMt">
        <div class="col-2"></div>
        <div class="col-3 cuadrado box card" >
            <img src="../../../assets/piedPapelTijera/tijera.jpg" id="tijeraH" alt="tijera" (click)="jugada('tijera')">
        </div>
        <div class="col-2"></div>
        <div class="col-3 cuadrado box ">
            <img src="../../../assets/piedPapelTijera/tijera.jpg" alt="tijera">
        </div>
        <div class="col-2"></div>
    </div>
</div>